button {
  font-size: 24px;
}

button:hover {
  background-color: blue;
  color: white;
  cursor: pointer;
}

thead {
  text-align: center;
}

tr:nth-child(odd) {
  background-color: lightgrey;
}

tr.header {
  color: white;
  background-color: black;
}
