.container {
  width: 800px;
  margin: 0 auto;
}

.row {
  display: flex;
  justify-content: center;
}

.column-full {
  flex-basis: 100%;
  text-align: center;
}

.column-fifth {
  flex-basis: 20%;
}

.resize-img {
  width: 90%;
}

.contain {
  object-fit: cover;
}

.item-style {
  font-size: 10px;
  font-family: "DM sans", sans-serif;
}

.grey-text {
  color: lightgrey;
}

.highlight {
  background-color: #eed3e2;
}

h3 {
  font-family: "DM sans", sans-serif;
}
