body {
  margin: 0;
}

.container {
  margin: 0 auto;
  white-space: pre;
}

.column-full: {
  width: 100%;
}

.row {
  display: flex;
  justify-content: center;
}

span {
  font-size: 50px;
}

.green-span {
  color: #66bb63;
  transform: rotate(1turn);
  transition: 0.5s;
}

.red-span {
  color: #ff4b0a;
}

.underline {
  border-bottom: solid;
}

.red-underline {
  border-bottom: solid;
  color: red;
}

h1 {
  color: #8974aa;
  text-align: center;
}
