.container {
  width: 800px;
  margin: auto;
  white-space: pre;
}

.row {
  display: flex;
  justify-content: center;
}

span {
  font-size: 50px;
}

.green-span {
  color: green;
}

.red-span {
  color: red;
}
