.container {
  max-width: 800px;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
}

.column {
  width: 95%;
  text-align: center;
}

.half-column {
  flex-basis: 50%;
}

.column-one-third {
  flex-basis: calc(100% / 3);
}

.column-two-thirds {
  flex-basis: calc(200% / 3);
}

p {
  font-family: Karla, sans-serif;
  font-size: 15px;
}

.column > p {
  font-size: 18px;
}

img {
  height: 100px;
}

h1,
h2 {
  font-family: Karla, sans-serif;
  font-weight: bold;
}

h1 {
  letter-spacing: 2px;
}

h2 {
  font-size: 12px;
  padding-top: 10px;
}

button {
  font-family: Karla, sans-serif;
  font-weight: bold;
  color: #d14c45;
  border-color: #d14c45;
  border: solid;
  background-color: white;
  font-size: 12px;
  padding: 5px 25px;
}
